@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030303;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .Link-manu-bar{ 
    @apply hover:text-[#ABE004] text-[12px] sm:text-[15px] xl:text-[18px] 2xl:text-[20px] duration-300 cursor-pointer
  }
  .contactusbtn{
    @apply px-[16px] sm:px-[18px] md:px-[20px] lg:px-[24px] xl:px-[28px] 2xl:px-[32px] py-[11px] sm:py-[12px] md:py-[13px] lg:py-[14px] xl:py-[15px] 2xl:py-[16px]  
  }
  .contactusbtn{
    @apply hover:bg-[#fff] border-[#ffffff1f] duration-300 hover:text-[#ABE004] text-[11px] sm:text-[12px] xl:text-[13px] 2xl:text-[14px]
  }
  .Construction{
    @apply text-[15px] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] 2xl:text-[24px] mb-[18px] sm:mb-[20px] md:mb-[25px] lg:mb-[30px] xl:mb-[35px] 2xl:mb-[40px]
  }
  .Printing{
    @apply text-[33px] sm:text-[44px] md:text-[55px] lg:text-[66px] xl:text-[77px] 2xl:text-[84px]
  }
  .buttondesgn{
    @apply  mt-[30px] md:mt-[50px] xl:mt-[84px]
  }
  .catagroyimage{
    @apply text-[30px] sm:text-[35px] md:text-[40px] lg:text-[45px] xl:text-[50px] 2xl:text-[54px]
  }
  .revoluction{
    @apply text-[15px] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] 2xl:text-[24px]
  }
  .aboutus{
    @apply text-[15px] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] 2xl:text-[24px]
  }
  .contaienraas3d{
    @apply text-[15px] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] 2xl:text-[24px]
  }
  .lineritems{
    @apply pl-[33px] sm:pl-[44px] md:pl-[55px] lg:pl-[66px] xl:pl-[77px] 2xl:pl-[84px] pr-[44px] sm:pr-[55px] md:pr-[66px] lg:pr-[77px] xl:pr-[88px] 2xl:pr-[94px] pt-[30px] sm:pt-[35px] md:pt-[40px] lg:pt-[44px] xl:pt-[55px] 2xl:pt-[62px]
  }
  .salarycard{
    @apply py-[18px] sm:py-[20px] md:py-[25px] lg:py-[30px] xl:py-[35px] 2xl:py-[40px] px-[14px] sm:px-[16px] md:px-[18px] lg:px-[20px] xl:px-[22px] 2xl:px-[24px]
  }
}




@layer utilities {

.brand{
  color: #FFF;
leading-trim: both;
text-edge: cap;
font-family: "Protest Guerrilla";
font-size: 27.625px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 30.388px */
}

.header{
  border-radius: 104px;
border: 1px solid rgba(255, 255, 255, 0.08);
background: linear-gradient(90deg, rgba(15, 16, 18, 0.10) 0%, rgba(15, 16, 18, 0.70) 53.5%, rgba(15, 16, 18, 0.10) 100%);
}

.signup-btn{
border-radius: 72px;
border: 1px solid rgba(255, 255, 255, 0.12);
backdrop-filter: blur(12px);
}

.buttona{
  display: flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 80px;
background: #C0FC04;
backdrop-filter: blur(12px);
}

.writing{
  background: linear-gradient(90deg, #ABE004 0%, #C0FC04 51%, #ABE004 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.ptag{
  color: #9C9D9F;
text-align: center;
leading-trim: both;
text-edge: cap;

font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 38.4px */
letter-spacing: 0.96px;
}

.htag{
  text-align: center;
leading-trim: both;
text-edge: cap;

font-size: 84px;
font-style: normal;
font-weight: 400;
line-height: 115%; /* 96.6px */
letter-spacing: 3.36px;
background: radial-gradient(63.35% 163.11% at 50% 13.66%, #FFF 0%, #474848 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.imageonee{

width: 1600px;
height: 640px;
flex-shrink: 0;





  
}

.htagtwo{
  background: radial-gradient(63.35% 163.11% at 50% 13.66%, #FFF 0%, #474848 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.ptagtwo{

color: #9C9D9F;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */
letter-spacing: 0.8px;
}

.buttukak{
display: flex;
padding: 20px 40px;
align-items: flex-start;
border-radius: 104px;
border: 1px solid rgba(255, 255, 255, 0.08);
background: linear-gradient(90deg, rgba(192, 252, 4, 0.01) 0%, rgba(192, 252, 4, 0.06) 53.57%, rgba(192, 252, 4, 0.01) 100%);
color: #C0FC04
}

.buttondsed{
  display: flex;
padding: 20px 40px;
align-items: flex-start;
border-radius: 104px;
border: 1px solid rgba(255, 255, 255, 0.08);
background: linear-gradient(90deg, rgba(15, 16, 18, 0.10) 0%, rgba(15, 16, 18, 0.70) 53.5%, rgba(15, 16, 18, 0.10) 100%);
color: #9C9D9F;


}
  .profitt2{
  color: var(--Text-white, #FEFFFF);
text-align: right;
leading-trim: both;
text-edge: cap;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 25.6px */
letter-spacing: 0.64px;
   
  }
    .profitt{
    color: #f4f1f1;
    leading-trim: both;
    text-edge: cap;
    
    font-size: clamp(15px, 2vw, 20px);
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.8px;
  }

    .profitsign2{
  border-radius: 40px;
background: var(--Text-white, #FEFFFF);
width: 40px;
height: 10px;
flex-shrink: 0;
  }
  .profitsign{
    border-radius: 104px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.04) 53.5%, rgba(255, 255, 255, 0.02) 100%);
    width: 407px;
    height: 14px;
  }

  .verifyyour{

  color: var(--Paragraph, #9C9D9F);
leading-trim: both;
text-edge: cap;

font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 160%; /* 28.8px */
letter-spacing: 0.72px;
  }

  .buttondesgn{
    color: #08090B;
    
    font-size: clamp(12px, 2vw, 20px);
    font-style: normal;
    font-weight: 200;
    line-height: 100%;
    border-radius: 80px;
    background: #C0FC04;
    backdrop-filter: blur(12px);
    display: flex;
    margin: 35px;
    padding: 16px 32px;
    
   
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 0.2s;
  }

 .buttondesgn:hover{
  border-radius: 104px;
border: 1px solid rgba(255, 255, 255, 0.08);
background: linear-gradient(90deg, rgba(15, 16, 18, 0.10) 0%, rgba(15, 16, 18, 0.70) 53.5%, rgba(15, 16, 18, 0.10) 100%);
color:#15ef44
  }

.bgpage3{

;
flex-shrink: 0;
border-radius: 32px;
border: 1px solid rgba(255, 255, 255, 0.08);
background: linear-gradient(101deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.08) 53.5%, rgba(255, 255, 255, 0.02) 100%);
}

.texth2{
height: auto;
align-self: stretch;


font-size: 64px;
font-style: normal;

line-height: 115%; /* 76.8px */
letter-spacing: 2.56px;
background: radial-gradient(63.35% 163.11% at 50% 13.66%, #FFF 0%, #474848 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.image3{
width: 615px;
height: 563px;
flex-shrink: 0;
border-radius: 32px 32px 0px 0px;

}


.year6{
  color: #FFF;
leading-trim: both;
text-edge: cap;

font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;

}


.since2018{

color: var(--Paragraph, #9C9D9F);
leading-trim: both;
text-edge: cap;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

/* .bordershdw{
 width: auto;
height: 1px;
background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 21.79%, rgba(255, 255, 255, 0.24) 50.27%, rgba(255, 255, 255, 0.00) 77.62%);
} */

.salarycard{
display: flex;
  width: 100%;
  max-width: 100%;
padding: 40px 24px;
justify-content: center;
align-items: center;
border-radius: 32px;
border: 1px solid rgba(255, 255, 255, 0.08);
background: linear-gradient(101deg, rgba(255, 255, 255, 0.02) 0%, rgba(255, 255, 255, 0.08) 53.5%, rgba(255, 255, 255, 0.02) 100%);


}

.salarycard:hover{
    transition: 0.5s;
  
    background: linear-gradient(101deg, rgba(0, 0, 0, 0.02) 0%, rgba(14, 14, 14, 0.08) 53.5%, rgba(14, 14, 14, 0.02) 100%);

}

.salarypotential{
align-self: stretch;
color: #FFF;
leading-trim: both;
text-edge: cap;

font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.norestriction{
width: 357px;
color: var(--Paragraph, #9C9D9F);
leading-trim: both;
text-edge: cap;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */

}

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

   .animate-scroll {
    display: flex;
    animation: scroll 10s linear infinite;
  }
  
 .image13{
width: 100%;
max-width: 615px;
height: full;
flex-shrink: 0;

}

.textpage4h2{
leading-trim: both;
text-edge: cap;

font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 76.8px */
letter-spacing: 2.56px;
background: radial-gradient(63.35% 163.11% at 50% 13.66%, #FFF 0%, #474848 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}


.bg2page4{


background: radial-gradient(49.99% 61.28% at 54.79% 3.03%, rgba(8, 9, 11, 0.00) 0%, #08090B 100%);



}

.fastscaling{
  color: #FFF;


font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.atourprop{
color: var(--Paragraph, #9C9D9F);


font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}

.startsky{
color: #FFF;
leading-trim: both;
text-edge: cap;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
}

.bgpage5{
width: auto;
height: 899px;
flex-shrink: 0;

border: 1px solid rgba(255, 255, 255, 0.05);
background: linear-gradient(101deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.02) 53.5%, rgba(255, 255, 255, 0.00) 100%);

}

.h1tagpage5{
  text-align: center;
leading-trim: both;
text-edge: cap;

font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.56px;
background: radial-gradient(63.35% 163.11% at 50% 13.66%, #FFF 0%, #474848 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


}

.h2tagpage5{
color: #9C9D9F;
text-align: center;
leading-trim: both;
text-edge: cap;

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 32px */
letter-spacing: 0.8px;
}

.thefunctional{
align-self: stretch;
color: #FEFFFF;
leading-trim: both;
text-edge: cap;

font-size: 22px;
font-style: normal;
font-weight: 100;
line-height: 150%; /* 39.2px */

}


.bgpage6{
width: auto;
height: auto;
border-radius: 32px;
border: 1px solid rgba(255, 255, 255, 0.08);
background: linear-gradient(101deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.08) 53.5%, rgba(255, 255, 255, 0.04) 100%);

}

.getfundednow{
color: #C0FC04;
text-align: center;
leading-trim: both;
text-edge: cap;

font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.96px;
text-transform: uppercase;
}

.nowbecome{
text-align: center;
leading-trim: both;
text-edge: cap;

font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 76.8px */
letter-spacing: 1.56px;
background: radial-gradient(63.35% 163.11% at 50% 13.66%, #FFF 0%, #474848 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

 
@keyframes zoom {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.5); }
}

.animate-zoom {
  animation: zoom 4s ease-in-out infinite;
}

  @keyframes float {
    0% {
      transform: scale(1) translateX(0);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.2) translateX(-2px);
      opacity: 1;
    }
    100% {
      transform: scale(1) translateX(2px);
      opacity: 0.6;
    }
  }

.buttonpage6{
   color: #08090B;
    
    font-size: clamp(12px, 2vw, 20px);
    font-style: normal;
    font-weight: 200;
    line-height: 100%;
    border-radius: 80px;
    background: #C0FC04;
    backdrop-filter: blur(12px);
    display: flex;
    margin: 35px;
    padding: 16px 32px;
    
   
    gap: 8px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: 0.2s;

}
 .buttonpage6:hover{
  border-radius: 104px;
border: 1px solid rgba(255, 255, 255, 0.08);
background: linear-gradient(90deg, rgba(15, 16, 18, 0.10) 0%, rgba(15, 16, 18, 0.70) 53.5%, rgba(15, 16, 18, 0.10) 100%);
color:#15ef44
  }


 .backgrnd1{
  margin-top: 24px;
width: auto;
height: 82px;
flex-shrink: 0;
border-radius: 104px;
border: 1px solid rgba(255, 255, 255, 0.08);
background: linear-gradient(90deg, rgba(15, 16, 18, 0.10) 0%, rgba(15, 16, 18, 0.70) 53.5%, rgba(15, 16, 18, 0.10) 100%);


 }

   .secoundtext{
    color: #FFF;
    leading-trim: both;
    text-edge: cap;

    font-size: clamp(12px, 2vw, 20px);
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    opacity: 80% !important;
  }

    .maintextt1{
    color: #FFF;
    leading-trim: both;
    text-edge: cap;

    font-size: clamp(15px, 2vw, 24px);
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 26.4px */
  }

    .privacypolicy{
    color: #FFF;
    leading-trim: both;
    text-edge: cap;

    font-size: clamp(8px, 2vw, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 17.6px */
    opacity: 0.7;
  }
    .lastpadding{
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
   
    font-size: clamp(15px, 2vw, 24px);
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 26.4px */
  }


}